/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

.Todo {
  max-width: 500px;
  margin-top: 5%;
  /* padding: 15px;
  box-shadow: rgba(211, 121, 121, 0.548) 0px 5px 15px;
  border-radius: 15px; */
}

i {
  cursor: pointer;
}
